*{
    margin: 0px;
    border: opx;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 900px;
    width: 900px;
    align-items: center;
    

}

body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
.box{
  
    width : 25vh;
    height: 25vh;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 5px;
    font-size: 8vmin;
}
#reset{
    width: 10vh;
    height: 6vh;
}

